@{
    var editId = ViewBag.EditId;
    Layout = Request.IsAjaxRequest() ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_Template.cshtml";
}

<div id="@(editId)">
    @using (Html.BeginForm()) 
    {
        <div>
            @Html.ValidationSummary(true)
        </div>

        <div>
            @RenderSection("Fields")
        </div>

        <div style="clear: both">
            @RenderSection("EditActions")
        </div>

        @RenderBody()
    }

</div>
